@charset "UTF-8";

/* Other media */

/* Typical Device Breakpoints
Small screens: till 600px
Phone: from 600px till 768px
Tablet: 768px till 992px
Desktop: 992px till 1200px
Big Screen: above 1200px
 */

@media print {
  * {
    font-family: 'Courier New', Courier, monospace;
  }

  body {
    background-image: url(../imagens/back-print.jpg);
  }

  main {
    border: 2px solid black;
    width: 90vw;
  }

  main::after {
    content: 'Ya printing?';
    
  }

  main h1 {
    text-shadow: none;
    color: black;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: url(../imagens/back-tablet.jpg);
  }
  #tablet {
    display: block;
  }
  #phone {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    background-image: url(../imagens/back-pc.jpg);
  }
  #pc {
    display: block;
  }
  #phone {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-image: url(../imagens/back-tv.jpg);
  }
  #tv {
    display: block;
  }
  #phone {
    display: none;
  }
}
