@charset "UTF-8";

* {
    font-family: 'century gothic';
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: gray;
    margin: 0px;
    padding: 0px;
}

#burguer {
    background-color: darkgray;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

#burguer:hover {
    background-color: white;
    color: black;
}

header {
    background-color: rgb(88, 86, 86);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

nav {
    display: none;
}

nav > ul {
    list-style-type: none;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: darkgray;
    color: white;
    border-top: 2px solid gray;
}

nav a:hover {
    background-color: rgb(168, 158, 158);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article h2 {
    padding-bottom: 20px;
}

article p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}